.Rproj.user
.Rhistory
.RData
.Ruserdata
data/diversity_data/*
.DS_Store
data/.DS_Store
cache/pipe_char*
cache/seq_char*
cache/*RData 
cache/*hash
*html
.httr-oauth

scratch/*pdf
data/dada2
data/deblur
data/example_seq_data
data/mothur
data/norm_data
data/phyloseq_objects
data/qa_list.rds
data/qiime_closed_ref
data/qiime_de_novo
data/qiime_open_ref
data/sav
diagnostics/

